a, a:link, a:visited, a:hover, a:active {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

body {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 87%;
}

code {
	font-size: 110%;
}

tt, code, kbd, samp, pre, xmp, plaintext, listing {
	font-family: "Panic Sans", "Monaco", monospace;
}

ul li {
	list-style-type: none;
}

#container {
	max-width: 700px;
}

#footer {
	border-top: 3px solid #aaa;
	clear: both;
	font-size: 87%;
	margin-top: 20px;
}

#footer a {
	font-weight: normal;
}

#footer a.code {
	font-family: "Panic Sans", "Monaco", monospace;
}

#footer div {
	float: left;
	height: 50px;
	margin: 10px 25px;
}

.caption {
	font-size: 75%;
	font-style: italic;
	margin: 5px;
	margin-left: 10px;
}
