a, a:link, a:visited, a:hover, a:active {
	color: #7A500B;
	font-weight: bold;
	text-decoration: none;
}

body {
        background-color: #99CC99;
	color: #333333;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 87%;
}

code {
	font-size: 110%;
}

dd {
        margin-bottom: 3px;
}

h3, h4, h5, h6 {
  border-bottom: 1px solid #333;
}

tt, code, kbd, samp, pre, xmp, plaintext, listing {
	font-family: "Panic Sans", "Monaco", monospace;
}

ul li {
	padding-right: 50px;
}

#container {
	border-left: 1px solid #336633;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#comments, #footer {
	border-top: 3px solid #aaa;
}

#footer {
	clear: both;
	font-size: 87%;
	margin-top: 20px;
}

#footer a {
	font-weight: normal;
}

#footer a.code {
	font-family: "Panic Sans", "Monaco", monospace;
}

#footer div {
	float: left;
	height: 50px;
	margin: 10px 25px;
}

.caption {
	font-size: 75%;
	font-style: italic;
	margin: 5px;
	margin-left: 10px;
}
